<h1>Plants#index</h1>
<p>Find me in app/views/plants/index.html.erb</p>

<h1>Your Plants:</h1><br>

<% @plants.each do |p| %>
<p><%= p.name %></p>
<% end %>

<p><%= link_to "Add New Plant", new_user_plant_path(current_user) %></p>
